<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The-Sudo-Studio</title>
</head>

<body>
    {{!-- navbar--}}
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/login">Signup/Login</a></li>
        </ul>

    </nav>
    {{!-- styling for navbar --}}
    <style>
nav {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 20px;
}

nav li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s;
}

nav li a:hover {
  background-color: #555;
}
</style>
    {{!-- Blog header --}}
    <header>
        <h1>The Sudo Studio</h1>
        <h2>A tech blog for tech people.</h2>
        {{!-- styling for header --}}
        <style>
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 40px 0;
}

header h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

header h2 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

        </style>


    </header>
    {{!-- Blog content --}}
    <main class="main-container">
        {{{body}}}
        {{!-- styling for main --}}
        <style>
            .main-container {
                margin: 0 auto;
                width: 80%;
                padding: 20px;
            }
        </style>
        {{#if logged_in}}
        <button id="logout">Logout</button>
        <script src="/js/logout.js"></script>
        {{!-- styling for button --}}
        <style>
            #logout {
                background-color: #333;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 5px;
                width: 25%;
            }

            #logout:hover {
                background-color: #111;
            }
        </style>

        {{/if}}

    </main>
</body>

</html>