{{!-- dashboard to display users posts --}}
<div class="welcome">
    <h1>Welcome {{name}}!</h1>
    <h2>Here are your posts:</h2>
</div>
{{!-- styling for welcome --}}
<style>
    .welcome {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 20px;
        margin: 10px;
    }
</style>
{{!-- display each blog post made by the logged in user --}}
{{#each blogs}}
<div id="user-post">
    <h2>{{title}}</h2>
    <h3>Created by: You on {{format_date date_created}}</h3>
    <p>{{content}}</p>
</div>
{{!-- styling for div --}}
<style>
    #user-post {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 20px;
        margin: 10px;
    }
</style>

{{/each}}

{{#if logged_in}}
        {{!-- button to add new blogpost and navigate to api/blogs/post --}}
        <a href="/api/blogs/post" class="add-blog">Add New Blog Post</a>
        
   
        {{!-- styling for button --}}
        <style>
            .add-blog {
                background-color: #333;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 5px;
                width: 25%;
            }

            .add-blog:hover {
                background-color: #111;
            }
        </style>
 {{/if}}


