{{!-- dashboard to display users posts --}}
<div class="welcome">
    <h1>Welcome {{name}}!</h1>
    <h2>Here are your posts:</h2>
</div>
{{!-- styling for welcome --}}
<style>
    .welcome {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 20px;
        margin: 10px;
    }
</style>
{{!-- display each blog post made by the logged in user --}}
{{#each blogs}}
<div id="user-post">
    <h2>{{title}}</h2>
    <h3>Created by: You on {{format_date date_created}}</h3>
    <p>{{content}}</p>
</div>
{{!-- styling for div --}}
<style>
    #user-post {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 20px;
        margin: 10px;
    }
</style>


{{/each}}



