{{!-- Loop over each object in the blog array --}}
{{#each blogs}}
<div class="blog-tiles">
    <h2>{{title}}</h2>
    <h3>Created by:{{user.name}} on {{format_date date_created}}</h3>
    <p>{{content}}</p>
</div>


{{/each}}

{{!-- styling for div --}}
<style>
.blog-tiles {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 30px;
}

.blog-tiles h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.blog-tiles h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
  color: #999;
}

.blog-tiles p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

</style>