<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>
<style>/* form styles */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: #111;
}

/* login form specific styles */
.login-form {
  border-right: 1px solid #ddd;
}

.login-form h2 {
  margin-top: 0;
}

/* signup form specific styles */
.signup-form h2 {
  margin-top: 0;
}
/* center and style h2 tags */
h2 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}

</style>
<script src="./js/login.js"></script>


